services:
  svc.synui_ollama:
    image: ollama/ollama:rocm
    profiles: [manual]
    environment:
      HSA_OVERRIDE_GFX_VERSION: "11.0.0"
      HIP_VISIBLE_DEVICES: "0"
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp:unconfined
    group_add:
      - video
    volumes:
      - ./.docker/ollama:/root/.ollama
    container_name: svc.synui_ollama
    tty: true
    expose:
      - 11434
    networks:
      - synui_app
      - proxy

networks:
  proxy:
    external: true