include:
  - ./docker-compose-${LLM_MANAGER}.${UTILIZATION}.yml

services:
  svc.synui_nginx:
    build:
      context: ./.docker/nginx
    volumes:
      - ./${WWW_PATH}:/workspace
      - ./logs/nginx:/var/log/nginx
    networks:
      - synui_app
      - proxy
    env_file:
      - ./.docker/.env.nginx.local

  svc.synui_php:
    build:
      context: ./.docker/php
      args:
        TIMEZONE: ${TIMEZONE}
        PHP_VERSION: ${PHP_VERSION}
        SERVER: ${SERVER}
        LLM_MANAGER: ${LLM_MANAGER}
    environment:
      APP_LLM_UTILIZATION: ${UTILIZATION}
    volumes:
      - ./${WWW_PATH}:/workspace
      - ./logs/php:/usr/local/var/log
      - ./logs/php/archive:/usr/local/var/log/archive
    networks:
      - synui_app
      - proxy

  svc.synui_db:
    image: postgres:15
    volumes:
      - synui_postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    expose:
      - "5432"
    networks:
      - synui_app
      - proxy

  svc.synui_adminer:
    depends_on:
      - svc.synui_db
    image: adminer:latest
    expose:
      - "8080"
    environment:
      ADMINER_DEFAULT_DATABASE: ${POSTGRES_DB}
      ADMINER_DEFAULT_USER: ${POSTGRES_USER}
      ADMINER_DEFAULT_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - synui_app
      - proxy

networks:
  synui_app:
  synui_db:
    driver: bridge
  proxy:
    external: true

volumes:
  synui_postgres: