services:
  svc.synui_ollama:
    image: ollama/ollama:latest
    profiles: [manual]
    volumes:
      - ./.docker/ollama:/root/.ollama
    container_name: svc.synui_ollama
    tty: true
    expose:
      - 11434
    networks:
      - synui_app
      - proxy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

networks:
  proxy:
    external: true