body {
    font-family: 'Inter', sans-serif;
}

#chatOutput p {
    margin-top: 0.5rem;
}

.typing-dots::after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        content: "";
    }

    40% {
        content: ".";
    }

    60% {
        content: "..";
    }

    80%,
    100% {
        content: "...";
    }
}

.token {
    display: inline;
    opacity: 0;
    animation: typewriter 0.5s forwards;
}

@keyframes typewriter {
    to {
        opacity: 1;
    }
}