@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

:root {
    --bs-body-bg: #212121;
    --bs-border-color: #555;
    --bs-dark-border-subtle: #2f2f2f;

    --sy-border-default: #ffffff0d;
    --sy-border-light: #ffffff26;
    --sy-bg-color-adaptive: #ffffff1a;
}

*:focus {
    box-shadow: none !important;
}

body {
    font-feature-settings: normal;
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    font-variation-settings: normal;
    font-size: .90rem;
}

.fs-lg {
    font-size: 1.125rem;
}

.fs-normal {
    font-size: 1rem;
}

.h-35 {
    height: 35%;
}

.h-45 {
    height: 45%;
}

.h-60 {
    height: 60%;
}

.w-35 {
    width: 35%;
}

.w-45 {
    width: 45%;
}

.w-60 {
    width: 60%;
}

i.bi+.label {
    margin-left: .5rem;
}

a.link-highlighted {
    padding: .25rem .50rem;
    border-radius: 10px;
}

a.link-highlighted:hover {
    background-color: var(--sy-bg-color-adaptive);
}

.position-relative a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tooltip {
    --bs-tooltip-bg: #101010;
    --bs-tooltip-color: #fff;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-arrow-width: 0rem;
    --bs-tooltip-arrow-height: 0rem;
    font-size: .75rem;
    font-weight: 600;
}

.side {
    height: 100vh;
    transition: none;
}

.side>div {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #181818;
    border-right: 1px solid var(--sy-border-default);
}

.side.expanded {
    flex: 0 0 280px;
}

.side.expanded>div {
    width: 280px;
}

.side.ready>div {
    transition: flex-basis, width 0.1s ease;
}

.side.collapsed {
    flex-basis: 50px;
}

.side.collapsed>div {
    background-color: transparent;
    width: 50px;
}

.side.collapsed .label {
    display: none;
}

.side.collapsed .side-link {
    justify-content: center;
}

.side .side-head {
    height: 35px;
}

.side .side-link {
    border-radius: 10px;
    height: 35px;
}

.side .side-link:hover,
.side .side-link.active {
    background-color: var(--sy-bg-color-adaptive);
}

.new-chat>.head {
    min-height: 35%;
    flex: 0 0 280px;
    flex-shrink: 0;
}

.new-chat>.head>div {
    left: 280px;
    top: 0;
    right: 0;
}

body:has(.side.ready) .new-chat>.head>div {
    transition: left 0.1s ease;
}

body:has(.side.collapsed) .new-chat>.head>div {
    left: 50px;
}

.dropdown-menu {
    --bs-dropdown-min-width: 17rem;
    --bs-dropdown-padding-x: .35rem;
    --bs-dropdown-padding-y: .4rem;
    --bs-dropdown-bg: #303030;
    --bs-dropdown-border-color: hsla(0, 0%, 65.9%, 0.15);
    --bs-dropdown-border-radius: 20px;
    --bs-dropdown-font-size: .9rem;
    box-shadow: var(--bs-box-shadow);
}

.dropdown-menu a.link-highlighted {
    border-radius: 10px;
    padding: .45rem .75rem;
}

.dropdown-menu li>span {
    padding: .45rem .75rem;
}

.dropdown-menu div.line {
    margin: .2rem .65rem;
    border-top: 1px solid var(--sy-border-light);
}

.dropdown>a::after,
.dropdown>button::after {
    content: "\F282";
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    font-size: 11px;
    display: inline-block;
    margin-left: .255em;
}

.typing-dots {
    display: inline-flex;
    gap: 2px;
}

.typing-dots.hidden {
    display: none;
}

.typing-dots span {
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 50%;
    opacity: 0.2;
    animation: blink 1.5s infinite;
}

.typing-dots span:nth-child(2) {
    animation-delay: 0.3s;
}

.typing-dots span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes blink {

    0%,
    80%,
    100% {
        opacity: 0.2;
        transform: translateY(0);
    }

    40% {
        opacity: 1;
        transform: translateY(-2px);
    }
}

.token {
    display: inline;
    opacity: 0;
    animation: typewriter .3s forwards;
}

@keyframes typewriter {
    to {
        opacity: 1;
    }
}

.skeleton-effect {
    background: #484848;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: pulse 1.5s infinite;
}

.skeleton-effect.lv1 {
    width: 70%;
}

.skeleton-effect.lv2 {
    width: 55%;
}

.skeleton-effect.lv3 {
    width: 80%;
}

.skeleton-effect.lv2 {
    width: 45%;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}